@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for the mobile menu */
.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu {
    display: block;
  }
}
